/* eslint-disable */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-inner-container {
    z-index: 1000000;
    position: fixed;
    width: 100vw;
    max-width: 100%;
    left: 0;
    right: 0;
    background-color: white;
}

.header-main-comp {
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    font-family: var(--fontFamilySerif, "Asar", Georgia, "Times New Roman", Times, serif);
}

.header-main-comp.nav-scroll {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-hamburger-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content {
    display: none;
}

.nav-logo img {
    height: 35px;
    width: auto;
}

.nav-content-wrapper-custom {
    display: flex;
    align-items: center;
    gap: 50px;
}

#hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    cursor: pointer;
    background-color: white;
    padding: unset;
    padding-top: 5px;
    padding-right: 10px;
    margin-bottom: 30px;
}

#hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#hamburger span:nth-child(2) {
    width: 25px;
}

#hamburger span:nth-child(3) {
    width: 20px;
}

.nav-items ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-items ul li a {
    color: var(--textColor, #202020);
    font-size: var(--fontSizeSmall, 14px);
    text-transform: uppercase;
    padding: 15px 17px;
    text-decoration: none;
}

.nav-items ul li a:hover {
    background-color: yellow;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: rgba(235, 235, 235, 0.54);
    border-radius: 4px;
    padding: 5px 10px;
    width: 200px;
}

.search-container input {
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 5px;
    font-size: var(--fontSizeXSmall, 9pt);
    color: var(--textColor, #202020);
    width: 100%;
}

.search-icon {
    font-size: 16px;
    color: #000;
    margin-right: 5px;
}

.ham-active .nav-content {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 250px;
    height: 100vh;
    background: #202020;
    color: white;
    padding: 20px;
}

.ham-active #hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.ham-active #hamburger span:nth-child(2) {
    opacity: 0;
}

.ham-active #hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    width: 30px;
    height: 3px;
}

.ham-active #hamburger {
    background: #202020;
    color: white;
    position: relative;
    z-index: 10001;
}

.ham-active .nav-items ul {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ham-active .nav-items ul li a {
    color: white;
    font-size: 16px;
}

.language-selector-container {
    display: flex;
    align-items: center;
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
    cursor: pointer;
    padding: 0 20px;
    justify-content: space-between;
}

.current-language {
    display: flex;
    align-items: center;
    gap: 5px;
}

.flag-icon img {
    width: 20px;
    height: 15px;
}

.language-code {
    font-size: 14px;
    font-weight: bold;
}

.dropdown-arrow {
    font-size: 14px;
}

.language-dropdown-content {
    position: absolute;
    top: 100%;
    margin-top: -100px;
    right: 0;
    padding-right: 10%;
    background: #1c1c1c;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    z-index: 100;
}

.language-dropdown-content.show {
    display: flex;
}

.language-option {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background 0.3s ease;
}

.language-option:hover {
    background: rgba(255, 255, 255, 0.1);
}

.country-flag img {
    width: 20px;
    height: 15px;
    margin-right: 10px;
}

.country-info {
    display: flex;
    flex-direction: column;
}

.country-name {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.language-codes {
    font-size: 12px;
    color: #bbb;
}

.sign-in-container {
    color: #ebebeb;
    font-size: var(--fontSizeSmall, 14px);
    text-transform: uppercase;
    font-family: var(--fontFamilySerif, "Asar", Georgia, "Times New Roman", Times, serif);
}
#registration-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    max-width: 340px;
    padding: 32px 28px;
    z-index: 1000000;
    background-color: #202020;
    color : white;
    display:none;
}
#registration-form{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.show-form{
    display: block !important;
}

@media (min-width: 767px) and (max-width: 995px) {
    #hamburger {
        display: none;
    }

    .nav-inner-container {
        width: 100vw;
        max-width: 100%;
    }

    .nav-content {
        display: block;
    }

    .nav-items ul li a {
        padding: 15px 1px;
    }

    .language-selector-container {
        justify-content: flex-end;
        gap: 20px;
    }
    .header-main-comp{
        padding: 30px 40px;
    }
}

@media (min-width: 995px) {
    #hamburger {
        display: none;
    }

    .nav-inner-container {
        width: 100vw;
        max-width: 100%;
    }

    .nav-content {
        display: block;
    }

    .language-selector-container {
        justify-content: flex-end;
        gap: 20px;
    }
    .header-main-comp{
        padding: 30px 100px;
    }
}
