* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 14px;
    z-index: 1000000;
    position: fixed;
    width: 100vw;
    max-width: 100%;
    left: 0;
    right: 0;
    background-color: white;
    transition: all 0.3s;
}

.nav-inner-container.nav-scroll {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-hamburger-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content {
    display: none;
}

.nav-logo img {
    height: 35px;
    width: auto;
}

.nav-content-wrapper-custom {
    display: flex;
    align-items: center;
    gap: 50px;
}

#hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    cursor: pointer;
    background-color: white;
    padding: unset;
    padding-top: 5px;
    padding-right: 10px;
    margin-bottom: 30px;
}

#hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#hamburger span:nth-child(2) {
    width: 25px;
}

#hamburger span:nth-child(3) {
    width: 20px;
}

.nav-items ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-items ul li a {
    color: var(--textColor, #202020);
    font-size: var(--fontSizeSmall, 14px);
    text-transform: uppercase;
    padding: 15px 17px;
    text-decoration: none;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: rgba(235, 235, 235, 0.54);
    border-radius: 4px;
    padding: 5px 10px;
    width: 200px;
}

.search-container input {
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 5px;
    font-size: var(--fontSizeXSmall, 9pt);
    color: var(--textColor, #202020);
    width: 100%;
}

.search-icon {
    font-size: 16px;
    color: #000;
    margin-right: 5px;
}

.ham-active .nav-content {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 250px;
    height: 100vh;
    background: #202020;
    color: white;
    padding: 20px;
}

.ham-active #hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.ham-active #hamburger span:nth-child(2) {
    opacity: 0;
}

.ham-active #hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    width: 30px;
    height: 3px;
}

.ham-active #hamburger {
    background: #202020;
    color: white;
    position: relative;
    z-index: 10001;
}

.ham-active .nav-items ul {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ham-active .nav-items ul li a {
    color: white;
    font-size: 16px;
}

@media (min-width: 767px) and (max-width: 995px) {
    #hamburger {
        display: none;
    }

    .nav-inner-container {
        width: 100vw;
        max-width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-content {
        display: block;
    }

    .nav-items ul li a {
        padding: 15px 10px;
    }
}

@media (min-width: 995px) {
    #hamburger {
        display: none;
    }

    .nav-inner-container {
        width: 100vw;
        max-width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0 auto;
        padding-left: 10%;
        padding-right: 10%;
    }

    .nav-content {
        display: block;
    }
}
