/* eslint-disable */
.hero .outer-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}
.hero-wrapper{
    max-width: none !important;
}

.hero .outer-container .text-container {
    background-color: #ebebeb;
    padding: 3.3em 1.8em 1.8em;
    font-family: var(--fontFamilySansSerif, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif);
}

.hero .outer-container .text-container p:nth-of-type(1) {
    font-size: 18px;
}

.hero .outer-container .text-container p:nth-of-type(1) strong {
    font-weight: 700;
}

.hero .outer-container .text-container p:nth-of-type(2) {
    margin-top: 50px;
    font-size: 36px;
}

.hero .outer-container .text-container p:nth-of-type(2) strong {
    font-weight: 400;
}

.hero .outer-container .text-container p:nth-of-type(3) {
    font-size: 14px;
    color: var(--textColor, #202020);
    line-height: 1.75;
}

.hero .outer-container .text-container .button-container button {
    font-size: 14px;
    font-weight: 500;
}

.hero .outer-container .image-container picture {
    width: 100%;
    
}
.hero .outer-container .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (width >= 767px) {
    .hero {
        display: flex;
        justify-content: center;
    }

    .hero .outer-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .hero .outer-container .text-container {
        width: 40%;
    }

    .hero .outer-container .image-container {
        width: 60%;
        display: flex;
    }

    .hero .outer-container .image-container img {
        height: 100%;
        width: 100%;
    }
}

@media (width >= 1026px) {
    .hero {
        display: flex;
        justify-content: center;
    }

    .hero-container .hero-wrapper{
        padding : unset;
    }
    .hero .outer-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
    }

    .hero .outer-container .text-container {
        width: 40%;
    }

    .hero .outer-container .image-container {
        width: 60%;
        display: flex;
    }

    .hero .outer-container .image-container img {
        height: 100%;
        width: 100%;
    }
}
